// CSS du HEADER

body {
    margin: auto;
}

.header {
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1;
    overflow: hidden;
    display: grid;
    flex-direction: row;
    width: 100vw;
    height: 30vh;
    background-image: linear-gradient(to bottom, #4f8c95, #5497a0, #59a1ac, #5facb7, #64b7c3);
}

.logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    grid-column: 1;
    
    .logoHeader {
        width: 10em;
    }
}

.inputBox {

    display: flex;
    align-items: center;
    grid-column: 2;

    .searchBar {
        width: 80%;
    }
}

.userBox {

    display: flex;
    align-self: center;
    align-items: center;
    float: right;
    grid-column: 4;
    justify-content: right;
    padding: 0 auto;


    .helloUser {
        font-size: 2em;
        color: white;
        font-family: 'Open Sans Condensed', sans-serif;

        vertical-align: middle;
        text-align: right; 
        margin: auto;
        margin-right: 10px;
        
    }

    .iconBox {
        border: 1px solid transparent;
        border-radius: 100px;
        background-color: white;

        font-size: x-large;
        margin-right: 4rem;
        margin-left: 1rem;

        .icon {

            font-size: 2rem;
            vertical-align: middle;
            text-decoration: none;
            text-align: right;
            margin: 1rem;

        }  
    }
}

// Fin du CSS Header

// CSS de la page HOME

.section {
    width: 100%;
    height: 10vh;

    display: flex;
    text-align: center;
    justify-content: center;

    background-image: linear-gradient(to bottom, #4f8c95, #5497a0, #59a1ac, #5facb7, #64b7c3);

    .sectionName {
        vertical-align: middle;

        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 3em;
        color: white;
    }
}

.showSection {
    width: 100%;
    height: 50vh;
    background-image: linear-gradient(to bottom, #a5c5cd, #aac8d0, #b0cbd3, #b5ced5, #bad1d8);

    display: flex;
    justify-content: center;
    align-items: center;

    .bookCover {
        border: 1px solid black;
        width: 16vw;
        padding: 0.5%;
        margin: auto;

        justify-content: center;
        
        .book {
            width: 15vw;
            height: 40vh;
        }
    }
}