// CSS du HEADER

body {

    margin: auto;

}

.header {
    grid-template-columns: 1fr, 1fr, 1fr, 1fr;
    grid-template-rows: 1;
    overflow: hidden;
    display: flex;
    align-items: center;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(to bottom, #4f8c95, #5497a0, #59a1ac, #5facb7, #64b7c3);
}

.logoBox {
    border: 1px solid black;
    width: 20%;
    
    .logo {
        width: 10em;
        height: 10em;
    }
}

.inputBox {

    border: 1px solid black;

    .searchBar {
        width: 60%;
    }
}




.titleBox {
    border: 1px solid black;
    width: 35%;

    .title {
        text-align: center;
        vertical-align: middle;
        color: white;
        font-size: 30px;
    }
}

.userBox {

    width: 20%;
    align-items: center;
    border: 1px solid black;
    display: flex;
    flex-direction: row;

    .iconBox {

        border: 1px solid black;
    
        .icon {

            text-decoration: none;

        }  
    }
}
