$nav-height: 5vh;

nav{
    height: $nav-height;
    font-size: 22px;
    background-color: #50f5cb;
    border-bottom: 1px solid white;

    .navLinks{
        display:flex;
        align-items: center;
        justify-content:space-around;
        padding-left:20%;
        padding-right:20%;
        color:#50a8a2;
    }

    .navItem{
        list-style: none;

        a{
        color:#50a8a2;
        }

        &:hover{
            font-weight: bold;
        }
    }
}


.fixed-nav {
    position: fixed;
    top:0px;
    width: 100%;
}

@media all and (max-width: 768px) {

    nav{
        font-size:20px;
        justify-content: space-evenly;

        .separate{
            display:none;
        }
    }
}